<p>ID : <%= user.id %></p>
<p>Nom d'utilisateur : <%= user.username %></p>
<p>Nom : <%= user.displayName %></p>
<p>Email : <%= user.emails[0].value %></p>
<p><img src="<%= user.photos[0].value %>"></p>
